/* TABLE OF CONTENTS

1 GLOBAL

2 TYPOGRAPHY

3 LAYOUT
  3.1 GENERAL
  3.2 SECTION #NAVIGATION
  3.3 SECTION #HERO
  3.4 SECTION #ABOUT
  3.5 SECTION #LEARN
  3.6 SECTIONS #SCHEDULE & #PRICING
  3.7 SECTION #CONTACT
  3.8 SECTION #FOOTER

*/

/* PROPERTY ORDER:
    - Display (float, grid, flex)
    - Positioning
    - Box modelling (background, height, width, border, padding, text alignment, )
    - Typography
    - Manipulation (transform, filter, opacity)
    - Misc (border radius, box shadow)
*/

/* THINGS TO WORK ON:
    - Small screen responsiveness
    - Styling
    - Performance - adjust images
    - Focus highlighting of tabs
*/

/*  ========
    1 GLOBAL
    ======== */

@font-face {
  font-family: kashima;
  src: url('assets/font/kashima_demo-webfont.woff2') format('woff2'),
        url('assets/font/kashima_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --ff-pri: 'IM Fell English SC', serif, 'Cormorant Garamond', serif;
  --ff-sec: kashima;

  --fw-reg: 200;
  --fw-bold: 600;

  --clr-light: #fff;
  --clr-dark: #251f1f;
  --clr-light-dark: #535151;
  --clr-accent: #ff8000;

  --fs-h1: 4rem;
  --fs-h2: 2.5rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.3rem;
  --fs-hl: 1.6rem;
  --fs-p: 1.4rem;
  --fs-body: 1.3rem;
  --fs-li-a: 1.3rem;
  --fs-brand: 2.7rem;
  --fs-icon: 2.3rem;

  --spacer-sm: 1em;
  --spacer-md: calc(var(--spacer-sm) * 2);
  --spacer-lg: calc(var(--spacer-sm) * 3);

  --text-shadow-light: 1px -1px 0px #fff;
  --text-shadow-dark: 1px -1px 0px #000;
  --box-shadow-pri: 2px 3px 8px 3px #000;
  --br: 0.5rem;
}

@media (max-width: 62rem) {
  :root {
    --fs-h1: 3.7rem;
    --fs-h2: 2.2rem;
    --fs-h3: 1.9rem;
    --fs-h4: 1.6rem;
    --fs-hl: 1.45rem;
    --fs-p: 1.3rem;
    --fs-body: 1.2rem;
    --fs-li-a: 1.2rem;
    --fs-brand: 2.5rem;
    --fs-icon: 2.2rem;
  }
}

@media (max-width: 50rem) {
  :root {
    --fs-h1: 3.4rem;
    --fs-h2: 2rem;
    --fs-h3: 1.7rem;
    --fs-h4: 1.45rem;
    --fs-hl: 1.3rem;
    --fs-p: 1.2rem;
    --fs-body: 1.1rem;
    --fs-li-a: 1.1rem;
    --fs-brand: 2.3em;
    --fs-icon: 2.1rem;
  }
}

@media (max-width: 38rem) {
  :root {
    --fs-h1: 3.1rem;
    --fs-h2: 1.8rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.3rem;
    --fs-hl: 1.2rem;
    --fs-p: 1.1rem;
    --fs-body: 1rem;
    --fs-li-a: 1rem;
    --fs-brand: 2.1rem;
    --fs-icon: 2rem;
  }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-pri);
  color: var(--clr-dark);
  line-height: 1.4;
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
}




/*  ============
    2 TYPOGRAPHY
    ============ */

h1, h2, h3, h4 {
  line-height: 1;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }
h4 { font-size: var(--fs-h4); }
p { font-size: var(--fs-p); }
li a { font-size: var(--fs-li-a); }
.headline { font-size: var(--fs-hl) }

a {
  color: var(--clr-light);
  text-decoration: none;
}




/*  ========
    3 LAYOUT
    ======== */

/* === 3.1 GENERAL === */

section {
  padding: min(6em, 10vw) min(2em, 4vw) min(6em, 10vw) min(2em, 4vw);
}

.content {
  max-width: 65rem;
  margin: auto;
  color: var(--clr-light);
  align-items: center;
}

.head {
  text-align: center;
  max-width: 65ch ;
  margin-inline: auto;
}

.headline {
  margin-block: 1em 2em;
}

ul {
  list-style: none;
}

.button {
  font-size: var(--fs-body);
  font-family: var(--ff-pri);
  padding: 0.4em 0.8em;
  background: rgba(0,0,0,0.6);
  border: 0.1em solid var(--clr-light);
  color: var(--clr-light);
  border-radius: 0.2em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: rgba(0,0,0,1);
  border: 0.1em solid var(--clr-accent);
  color: var(--clr-accent);
  outline: 0;
  letter-spacing: 0.1em;
}



/* === 3.2 SECTION #NAVIGATION === */

.main-nav {
  display: flex;
  position: fixed;
  align-items: center;
  background: rgba(0,0,0,0.85);
  height: min(3rem, 15vw);
  width: 100%;
  justify-content: space-between;
  color: var(--clr-light);
  z-index: 999;
}

.main-nav__brand {
  display: flex;
  height: 100%;
  margin-left: 0.5em;
  padding: 0.2em;
  align-items: center;
}

.main-nav__name {
  display: block;
  margin: 0.15em 0 0 0.2em;
  font-size: var(--fs-brand);
  font-family: var(--ff-sec);
  transition: 0.4s all;
}

.main-nav__logo {
  height: 100%;
  background: white;
  border-radius: 5px;
}

.main-nav__name:hover,
.main-nav__name:focus {
  color: var(--clr-accent);
  outline: 0;
}

.main-nav__list {
  display: flex;
  margin-right: 0.5em;
  align-items: center;
}

.main-nav__link {
  display: block;
  position: relative;
  margin-inline: 0.7em;
  padding-block: 0.5em;
  background: transparent;
  transition: 400ms all;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--clr-accent);
  transition-delay: 0s;
  outline: 0;
}

.main-nav__link::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0.5em;
  left: 0;
  height: 0.07em;
  width: 100%;
  background-color: var(--clr-accent);
  transform: scaleX(0);
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.main-nav__link:hover::before,
.main-nav__link:focus::before {
  transform: scaleX(1);
}

.main-nav__toggle {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0.85em;
  right: 1em;
  justify-content: space-between;
  height: 1.1em;
  width: 1.8em;
  cursor: pointer;
}

.main-nav__burger {
  height: min(0.1em, 0.3vw);
  width: 100%;
  background-color: var(--clr-light);
  border-radius: 10px;
}

@media (max-width: 750px) {
  .main-nav__toggle {
    display: flex;
  }

  .main-nav__list {
    display: none;
    flex-direction: column;
    width: 100%;
    background: rgba(0,0,0,0.85);
  }

  .main-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-nav__link {
    text-align: center;
  }

  .main-nav__list.active {
    display: flex;
  }
}



/* === 3.3 SECTION #HERO === */

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: url(/image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -10;
}

.hero__background:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  animation-name: heroBgFadeInAnimation;
  animation-timing-function: ease;
  animation-duration: 7s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes heroBgFadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.hero__content {
  max-width: 500px;
  min-width: 300px;
  text-shadow: 3px 2px 0px #000;
}

.hero__header {
  font-family: var(--ff-sec);
  opacity: 0;
  animation: heroHeaderSpacingAnimation;
  animation-timing-function: ease;
  animation-duration: 8s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes heroHeaderSpacingAnimation {
  0% {
    opacity: 0;
    letter-spacing: 0;
  }
  100% {
    opacity: 1;
    letter-spacing: 0.1em;
  }
}

.hero__hr {
  height: 0.5em;
  margin-block: 0 1em;
  background-image: radial-gradient(var(--clr-light), rgba(0,0,0,0), rgba(0,0,0,0));
  border: 0;
  opacity: 0;
  animation-name: heroHrFadeInAnimation;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes heroHrFadeInAnimation {
  0% {
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

.hero__headline {
  max-width: 40ch;
  margin-bottom: 3em;
  opacity: 0;
  animation-name: heroHeadlineSpacingAnimation;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-delay: 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes heroHeadlineSpacingAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero__button {
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  animation-name: heroBtnFadeInanimation;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-delay: 12s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes heroBtnFadeInanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/* === 3.4 SECTION #ABOUT === */

.about {
  background: var(--clr-dark);
}

.about__content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-md);
  justify-content: center;
  padding-bottom: 1em;
}

.about__header
{
  text-shadow: var(--text-shadow-light);
}

.about__content--teacher {
  flex-direction: row-reverse;
  margin-top: min(7em, 12vw);
}

.about__text-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 54%;
}

.about__image-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
  max-height: 25em;
  max-width: 18em;
}

.about__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



/* === 3.5 SECTION #LEARN === */

.learn {
  background-color: var(--clr-light);
}

.learn__content {
  color: var(--clr-dark);
}

.learn__header
{
  text-shadow: var(--text-shadow-dark);
}

.learn__card-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-lg);
  justify-content: center;
}

.learn__card {
  position: relative;

  height: 19rem;
  width: 19rem;
  color: var(--clr-light);
  overflow: hidden;
  border-radius: var(--br);
  box-shadow: var(--box-shadow-pri);
}

.learn__image-box,
.learn__text-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.learn__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.learn__text-box {
  display: flex;
  background: hsl(0 0% 0% / 0.6);
  opacity: 0;
}

.learn__card:hover .learn__text-box {
  color: var(--clr-light);
  text-align: center;
  animation-name: cardTextFadeInAnimation;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  outline: 0;
}

@keyframes cardTextFadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.learn__text-box__content {
  display: flex;
  flex-direction: column;
  padding: var(--spacer-sm);
  justify-content: center;
}

.learn__text-box__description {
  margin-top: 1em;
  font-size: 0.9em;
}



/* === 3.6 SECTIONS #SCHEDULE & #PRICING === */

.schedule,
.pricing {
  background-color: var(--clr-dark);
}

.schedule {
  padding-bottom: 0;
}

.schedule__content,
.pricing__content {
  display: flex;
  flex-direction: column;
}

.schedule__head,
.pricing__head {
  color: var(--clr-light);
}

.schedule__tab-container,
.pricing__tab-container {
  display: flex;
  width: 28em;
  padding: 0.5em;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border-radius: 0.5rem;
}

.pricing__tab-container {
  width: 20em;
}

.schedule__tabs,
.pricing__tabs {
  display: flex;
  flex-direction: column;
  width: 10em;
  font-size: var(--fs-p)
}

.schedule__label,
.pricing__label {
  height: 2.5em;
  width: 100%;
  text-align: start;
  padding-left: 1em;
  border-right: 0.15em solid var(--clr-dark);
  color: var(--clr-dark);
  line-height: 2.5em;
  font-weight: var(--fw-bold);
  cursor: pointer;
  z-index: 10;
}

.schedule__label:hover,
.pricing__label:hover {
  color: var(--clr-accent);
}

.schedule__topic,
.pricing__topic {
  position: relative;
}

.schedule__topic::before,
.pricing__topic::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.07em;
  width: 100%;
  background: var(--clr-accent);
  transform: scaleX(0);
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.schedule__label:hover .schedule__topic::before,
.pricing__label:hover .pricing__topic::before {
  transform: scaleX(1);
}

.schedule__tab-container [type="radio"],
.pricing__tab-container [type="radio"] {
  display: none;
}

#monday:checked ~ .schedule__tabs > .monday,
#tuesday:checked ~ .schedule__tabs > .tuesday,
#wednesday:checked ~ .schedule__tabs > .wednesday,
#thursday:checked ~ .schedule__tabs > .thursday,
#vriday:checked ~ .schedule__tabs > .vriday,
#saturday:checked ~ .schedule__tabs > .saturday,
#sunday:checked ~ .schedule__tabs > .sunday,
#adults:checked ~ .pricing__tabs .adults,
#students:checked ~ .pricing__tabs .students,
#kids:checked ~ .pricing__tabs .kids,
#eldery:checked ~ .pricing__tabs .eldery {
  color: var(--clr-accent);
}

.schedule__text-container,
.pricing__text-container {
  display: flex;
  width: 100%;
}

.schedule__tab-text,
.pricing__tab-text {
  display: none;
  height: 100%;
  width: 100%;
  padding-left: 1em;
}

.schedule__text-container .monday,
.pricing__text-container .adults {
  display: block;
}

#monday:checked ~ .schedule__text-container .monday,
#tuesday:checked ~ .schedule__text-container .tuesday,
#wednesday:checked ~ .schedule__text-container .wednesday,
#thursday:checked ~ .schedule__text-container .thursday,
#vriday:checked ~ .schedule__text-container .vriday,
#saturday:checked ~ .schedule__text-container .saturday,
#sunday:checked ~ .schedule__text-container .sunday,
#adults:checked ~ .pricing__text-container .adults,
#students:checked ~ .pricing__text-container .students,
#kids:checked ~ .pricing__text-container .kids,
#eldery:checked ~ .pricing__text-container .eldery {
  display: block;
}

#tuesday:checked ~ .schedule__text-container .monday,
#wednesday:checked ~ .schedule__text-container .monday,
#thursday:checked ~ .schedule__text-container .monday,
#vriday:checked ~ .schedule__text-container .monday,
#saturday:checked ~ .schedule__text-container .monday,
#sunday:checked ~ .schedule__text-container .monday,
#students:checked ~ .pricing__text-container .adults,
#kids:checked ~ .pricing__text-container .adults,
#eldery:checked ~ .pricing__text-container .adults {
  display: none;
}

.schedule__table,
.pricing__table {
  font-size: var(--fs-body);
  line-height: 3em;
}

.schedule__table th,
.pricing__table th {
  padding-right: 2em;
  text-align: start;
}



/* === 3.7 SECTION #CONTACT === */

.contact {
  background-color: var(--clr-light);
}

.contact__content {
  margin-inline: auto;
  color: var(--clr-dark);
}

.contact__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  font-size: var(--fs-body);
  margin-top: 4em;
}

.contact__info {
  display: flex;
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 40%;
  flex-direction: column;
  position: relative;
  max-width: 25rem;
  min-width: 20rem;
  margin-inline: auto;
}

.contact__info-box {
  display: flex;
  padding-bottom: 3em;
}

.contact__email-box {
  padding-bottom: 8em;
}

.contact__icon-box {
  display: flex;
  align-items: center;
}

.contact__icon-box a {
  font-size: var(--fs-icon);
  color: var(--clr-dark);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.contact__icon-box a:hover,
.contact__icon-box a:focus {
  color: var(--clr-accent);
  transform: scale(1.3);
  outline: none;
}

.contact__text-box {
  flex-direction: column;
  margin-left: 1.5em;
}

.social__container {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: space-evenly;
  color: var(--clr-dark);
}

.social__box {
  display: block;
  color: var(--clr-dark);
}

.social__link {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--fs-icon);
  color:var(--clr-dark);
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}

.social__label {
  font-size: calc(var(--fs-body)* 0.8);
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  opacity: 0;
}

.social__link:hover,
.social__link:focus,
.social__link:hover > .social__label,
.social__link:focus > .social__label {
  color: var(--clr-accent);
  opacity: 1;
  transform: scale(1.2);
  outline: none;
}

.contact__form {
  display: flex;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 50%;
  max-width: 30rem;
  min-width: 23rem;
  padding: 1.5em;
  margin-inline: auto;
  border: none;
  background: var(--clr-dark);
  text-align: center;
  align-items: center;
  justify-content: center;
  color:var(--clr-light);
  border-radius: var(--br);
}

.contact__form__header {
  text-align: center;
}

/* FLOAT LABEL - position */
.contact__input-box  {
  position: relative;
  width: 90%;
  margin: 2em auto;
}

.contact__input {
  width: 100%;
  border: none;
  border-bottom: 0.1em solid var(--clr-light);
  background: transparent;
  color: var(--clr-light);
  font-size: var(--fs-p);
  font-family: var(--ff-primary);
  outline: none;
}
/* FLOAT LABEL - position */
.contact__label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--fs-p);
  transition-duration: 0.6s;
}

/* FLOAT LABEL */
.contact__input:focus ~ .contact__label,
.contact__input:valid ~ .contact__label{
  font-style: italic;
  font-size: calc(var(--fs-body) * 0.9);
  color: var(--clr-accent);
  transform: translateY(-26px);
}

.contact__input:focus {
  border-bottom: 0.1em solid var(--clr-accent);
}

.contact_button {
  width: 90%;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}



/* === 3.8 SECTION #FOOTER === */

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  font-size: calc(var(--fs-body) * 0.8);
}

.footer__author,
.footer__copyright {
  margin-inline: 1em;
  color: var(--clr-dark);
}

.footer__author:focus,
.footer__copyright:focus {
  color: var(--clr-accent);
  outline: none;
}
